{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ saludo }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="{% url 'inicio' %}" class="nav-link">Inicio</a>
            </li>
        </ul>
        {% if privilegio == 'ADM-IN1' %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'compras' %}">Entradas</a>
                    <a class="dropdown-item text-white" href="{% url 'ventas' %}">Ventas</a>
                    <a class="dropdown-item text-white" href="{% url 'otras_e_s' %}">Otras E/S</a>
                    <a class="dropdown-item text-white" href="{% url 'crear_sistema' %}">Generar sistemas</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                    <a class="dropdown-item text-white" href="{% url 'Auditoria' %}">Auditoria</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Recursos humanos
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'perfil_y_directorio' %}">Perfil de puesto - Directorio</a>
                    <a class="dropdown-item text-white" href="{% url 'eventos_tareas' %}">Eventos y tareas asignados</a>
                    <a class="dropdown-item text-white" href="{% url 'acci_vista' %}">Accidentabilidad</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Mantenimiento
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'mantenimiento' %}">Mantenimiento</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    SIGSSMAC
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'sigssmac_vista' %}">Registro de hallazgos</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Indicadores
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'indicadores' %}">Registro de movimientos</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Usuarios
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'registro' %}">Registrar usuario</a>
                    <a class="dropdown-item text-white" href="{% url 'usuarios' %}">Usuarios</a>
                </div>
            </div>
        </ul>
        {% elif privilegio == 'JEFE' %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'compras' %}">Entradas</a>
                    <a class="dropdown-item text-white" href="{% url 'ventas' %}">Ventas</a>
                    <a class="dropdown-item text-white" href="{% url 'otras_e_s' %}">Otras E/S</a>
                    <a class="dropdown-item text-white" href="{% url 'crear_sistema' %}">Generar sistemas</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Recursos humanos
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'perfil_y_directorio' %}">Perfil de puesto - Directorio</a>
                    <a class="dropdown-item text-white" href="{% url 'eventos_tareas' %}">Eventos y tareas asignados</a>
                    <a class="dropdown-item text-white" href="{% url 'acci_vista' %}">Accidentabilidad</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Mantenimiento
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'mantenimiento' %}">Mantenimiento</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    SIGSSMAC
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'sigssmac_vista' %}">Registro de hallazgos</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Indicadores
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'indicadores' %}">Registro de movimientos</a>
                </div>
            </div>
        </ul>
        {% else %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                </div>
            </div>
        </ul>
        {% endif %}
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <div class="container">
        <form class="card card-body form-registro">
            <h3>Personal propio</h3>
            <div>
                <div class="d-flex col-lg-12">
                    <label class="d-block col-lg-2">Cantidad de personal</label>
                    <input type="number" class="form-control" name="c_personal">
                </div>
                <div class="d-flex col-lg-12">
                    <label class="d-block col-lg-2">Horas de trabajo</label>
                    <input type="number" class="form-control" name="h_trabajo">
                </div>
                <div class="d-flex col-lg-12">
                    <label class="d-block col-lg-2">Jornada laboral</label>
                    <input type="number" class="form-control" name="jornada">
                </div>
            </div>
            <div>
                <h3>Personal contratado</h3>
                <div class="d-flex col-lg-12">
                    <label class="d-block col-lg-2">Cantidad de personal</label>
                    <input type="number" class="form-control" name="c_personal">
                </div>
                <div class="d-flex col-lg-12">
                    <label class="d-block col-lg-2">Horas de trabajo</label>
                    <input type="number" class="form-control" name="h_trabajo">
                </div>
                <div class="d-flex col-lg-12">
                    <label class="d-block col-lg-2">Jornada laboral</label>
                    <input type="number" class="form-control" name="jornada">
                </div>
            </div>
            <input type="submit" id="btnEnviar" class="btn btn-success form-control mt-3" value="Registrar">
        </form>
    </div>

    <div class="container">
        <h2>Personal propio</h2>
        <table>
            <thead>
                <tr>
                    <th>Id.</th>
                    <th>Cantidad de personal</th>
                    <th>Horas de trabajo</th>
                    <th>Jornada laboral</th>
                    <th>Cálculo total</th>
                </tr>
            </thead>
            <tbody>
                {% for propio in personal_propio %}
                    <tr>
                        <th>{{ propio.0 }}</th>
                        <th>{{ propio.1 }}</th>
                        <th>{{ propio.2 }}</th>
                        <th>{{ propio.3 }}</th>
                        <th>{{ propio.4 }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Personal contratado</h2>
        <table>
            <thead>
                <tr>
                    <th>Id.</th>
                    <th>Cantidad de personal</th>
                    <th>Horas de trabajo</th>
                    <th>Jornada laboral</th>
                    <th>Cálculo total</th>
                </tr>
            </thead>
            <tbody>
                {% for contratado in personal_contratado %}
                    <tr>
                        <th>{{ contratado.0 }}</th>
                        <th>{{ contratado.1 }}</th>
                        <th>{{ contratado.2 }}</th>
                        <th>{{ contratado.3 }}</th>
                        <th>{{ contratado.4 }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="{% static 'js/accidentabilidad.js' %}"></script>
</body>
</html>