{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos y tareas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="{% url 'inicio' %}" class="nav-link">Inicio</a>
            </li>
        </ul>
        {% if privilegio == 'ADM-IN1' %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'compras' %}">Entradas</a>
                    <a class="dropdown-item text-white" href="{% url 'ventas' %}">Ventas</a>
                    <a class="dropdown-item text-white" href="{% url 'otras_e_s' %}">Otras E/S</a>
                    <a class="dropdown-item text-white" href="{% url 'crear_sistema' %}">Generar sistemas</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                    <a class="dropdown-item text-white" href="{% url 'Auditoria' %}">Auditoria</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Recursos humanos
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'perfil_y_directorio' %}">Perfil de puesto - Directorio</a>
                    <a class="dropdown-item text-white" href="{% url 'eventos_tareas' %}">Eventos y tareas asignados</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Mantenimiento
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'mantenimiento' %}">Mantenimiento</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Indicadores
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'indicadores' %}">Registro de movimientos</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Usuarios
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'registro' %}">Registrar usuario</a>
                    <a class="dropdown-item text-white" href="{% url 'usuarios' %}">Usuarios</a>
                </div>
            </div>
        </ul>
        {% elif privilegio == 'JEFE' %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'compras' %}">Entradas</a>
                    <a class="dropdown-item text-white" href="{% url 'ventas' %}">Ventas</a>
                    <a class="dropdown-item text-white" href="{% url 'otras_e_s' %}">Otras E/S</a>
                    <a class="dropdown-item text-white" href="{% url 'crear_sistema' %}">Generar sistemas</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Recursos humanos
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'perfil_y_directorio' %}">Perfil de puesto - Directorio</a>
                    <a class="dropdown-item text-white" href="{% url 'eventos_tareas' %}">Eventos y tareas asignados</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Mantenimiento
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'mantenimiento' %}">Mantenimiento</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Indicadores
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'indicadores' %}">Registro de movimientos</a>
                </div>
            </div>
        </ul>
        {% else %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                </div>
            </div>
        </ul>
        {% endif %}
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <div class="container col-lg-4 mb-1 card card-body">
        <h3 class="text-center">Buscar evento</h3>
        <input type="search" id="buscar_evt" class="form-control" placeholder="Escribe el movimiento que deseas buscar..." />
    </div>
    <div  class="container d-flex justify-content-center">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="t_evt" class="table table-bordered">
                <thead>
                    <tr>
                        <td colspan="6" class="h3 text-center">Eventos</td>
                    </tr>
                    <tr>
                        <td>Fecha</td>
                        <td>Evento</td>
                        <td>Descripción</td>
                        <td>Asignador</td>
                        <td>Asignado</td>
                        <td>Prioridad</td>
                    </tr>
                </thead>
                <tbody>
                    {% if privilegio == 'EMPLEADO' %}
                        {% for evento in eventos %}
                            {% if evento.4 == email %}
                                <tr class="alert alert-danger">
                                    <td>{{ evento.0|naturalday }} {{ evento.0|date:'P' }}</td>
                                    <td>{{ evento.1 }}</td>
                                    <td>{{ evento.2 }}</td>
                                    <td>{{ evento.3 }}</td>
                                    <td>{{ evento.4 }}</td>
                                    <td>{{ evento.5 }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for evento in eventos %}
                            <tr class="alert alert-danger">
                                <td>{{ evento.0|naturalday }} {{ evento.0|date:'P' }}</td>
                                <td>{{ evento.1 }}</td>
                                <td>{{ evento.2 }}</td>
                                <td>{{ evento.3 }}</td>
                                <td>{{ evento.4 }}</td>
                                <td>{{ evento.5 }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container col-lg-4 mb-1 card card-body">
        <h3 class="text-center">Buscar actividad</h3>
        <input type="search" id="buscar_act" class="form-control" placeholder="Escribe el movimiento que deseas buscar..." />
    </div>
    <div class="container d-flex justify-content-center mt-4 mb-2">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="t_act" class="table table-bordered">
                <thead>
                    <tr>
                        <td colspan="6" class="h3 text-center">Actividades</td>
                    </tr>
                    <tr>
                        <td>Fecha</td>
                        <td>Tarea</td>
                        <td>Descripción</td>
                        <td>Asignador</td>
                        <td>Prioridad</td>
                        <td>Estado</td>
                    </tr>
                </thead>
                <tbody>
                    {% if privilegio != 'EMPLEADO' %}
                        {% for actividad in actividades %}
                            {% if actividad.5 == 'NO COMPLETADO' %}
                            <tr class="alert alert-danger">
                                <td>{{ actividad.3|naturalday }} {{ actividad.3|date:'P' }}</td>
                                <td>{{ actividad.1 }}</td>
                                <td>{{ actividad.2 }}</td>
                                <td>{{ actividad.0 }}</td>
                                <td>{{ actividad.4 }}</td>
                                {% if actividad.6 == email %}
                                    <td>
                                        <form class="d-flex justify-content-between align-items-center">
                                            {% csrf_token %}
                                            <input type="text" name="id_act" value="{{ actividad.7 }}" readonly hidden>
                                            <input type="text" name="email" value="{{ actividad.6 }}" readonly hidden>
                                            <div>
                                                <select name="sl_estado" class="form-select">
                                                    {% if actividad.5 == 'NO COMPLETADO' %}
                                                    <option value="{{ actividad.5 }}" selected>{{ actividad.5 }}</option>
                                                    <option value="EN PROGRESO">EN PROGRESO</option>
                                                    <option value="COMPLETADO">COMPLETADO</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-info" target="{% url 'actualizar_tarea' %}">Act.</button>
                                            </div>
                                        </form>
                                    </td>
                                {% else %}
                                    <td>{{ actividad.5 }}</td>
                                {% endif %}
                            </tr>
                            {% elif actividad.5 == 'EN PROGRESO' %}
                            <tr class="alert alert-warning">
                                <td>{{ actividad.3|naturalday }} {{ actividad.3|date:'P' }}</td>
                                <td>{{ actividad.1 }}</td>
                                <td>{{ actividad.2 }}</td>
                                <td>{{ actividad.0 }}</td>
                                <td>{{ actividad.4 }}</td>
                                {% if actividad.6 == email %}
                                    <td>
                                        <form class="d-flex justify-content-between align-items-center">
                                            {% csrf_token %}
                                            <input type="text" name="id_act" value="{{ actividad.7 }}" readonly hidden>
                                            <input type="text" name="email" value="{{ actividad.6 }}" readonly hidden>
                                            <div>
                                                <select name="sl_estado" class="form-select">
                                                    {% if actividad.5 == 'NO COMPLETADO' %}
                                                    <option value="EN PROGRESO">EN PROGRESO</option>
                                                    <option value="{{ actividad.5 }}" selected>{{ actividad.5 }}</option>
                                                    <option value="COMPLETADO">COMPLETADO</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-info" target="{% url 'actualizar_tarea' %}">Act.</button>
                                            </div>
                                        </form>
                                    </td>
                                {% else %}
                                    <td>{{ actividad.5 }}</td>
                                {% endif %}
                            </tr>
                            {% else %}
                            <tr class="alert alert-success">
                                <td>{{ actividad.3|naturalday }} {{ actividad.3|date:'P' }}</td>
                                <td>{{ actividad.1 }}</td>
                                <td>{{ actividad.2 }}</td>
                                <td>{{ actividad.0 }}</td>
                                <td>{{ actividad.4 }}</td>
                                {% if actividad.6 == email %}
                                    <td>
                                        <form class="d-flex justify-content-between align-items-center">
                                            {% csrf_token %}
                                            <div>
                                                <select name="sl_estado" class="form-select" disabled>
                                                    {% if actividad.5 == 'NO COMPLETADO' %}
                                                    <option value="NO COMPLETADO">NO COMPLETADO</option>
                                                    <option value="EN PROGRESO">EN PROGRESO</option>
                                                    <option value="{{ actividad.5 }}" selected>{{ actividad.5 }}</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </form>
                                    </td>
                                {% else %}
                                    <td>{{ actividad.5 }}</td>
                                {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% else %}
                            {% for actividad in actividades %}
                                {% if actividad.6 == email %}
                                    {% if actividad.5 == 'NO COMPLETADO' %}
                                    <tr class="alert alert-danger">
                                        <td>{{ actividad.3|naturalday }} {{ actividad.3|date:'P' }}</td>
                                        <td>{{ actividad.1 }}</td>
                                        <td>{{ actividad.2 }}</td>
                                        <td>{{ actividad.0 }}</td>
                                        <td>{{ actividad.4 }}</td>
                                        <td>
                                            <form class="d-flex justify-content-between align-items-center">
                                                {% csrf_token %}
                                                <input type="text" name="id_act" value="{{ actividad.7 }}" readonly hidden>
                                                <input type="text" name="email" value="{{ actividad.6 }}" readonly hidden>
                                                <div>
                                                    <select name="sl_estado" class="form-select">
                                                        {% if actividad.5 == 'NO COMPLETADO' %}
                                                        <option value="{{ actividad.5 }}" selected>{{ actividad.5 }}</option>
                                                        <option value="EN PROGRESO">EN PROGRESO</option>
                                                        <option value="COMPLETADO">COMPLETADO</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-info form-control" target="{% url 'actualizar_tarea' %}"><i class="fa-solid fa-pencil"></i></button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    {% elif actividad.5 == 'EN PROGRESO' %}
                                    <tr class="alert alert-warning">
                                        <td>{{ actividad.3|naturalday }} {{ actividad.3|date:'P' }}</td>
                                        <td>{{ actividad.1 }}</td>
                                        <td>{{ actividad.2 }}</td>
                                        <td>{{ actividad.0 }}</td>
                                        <td>{{ actividad.4 }}</td>
                                        <td>
                                            <form class="d-flex justify-content-between align-items-center">
                                                {% csrf_token %}
                                                <input type="text" name="id_act" value="{{ actividad.7 }}" readonly hidden>
                                                <input type="text" name="email" value="{{ actividad.6 }}" readonly hidden>
                                                <div>
                                                    <select name="sl_estado" class="form-select">
                                                        {% if actividad.5 == 'NO COMPLETADO' %}
                                                        <option value="EN PROGRESO">EN PROGRESO</option>
                                                        <option value="{{ actividad.5 }}" selected>{{ actividad.5 }}</option>
                                                        <option value="COMPLETADO">COMPLETADO</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-info form-control" target="{% url 'actualizar_tarea' %}"><i class="fa-solid fa-pencil"></i></button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr class="alert alert-success">
                                        <td>{{ actividad.3|naturalday }} {{ actividad.3|date:'P' }}</td>
                                        <td>{{ actividad.1 }}</td>
                                        <td>{{ actividad.2 }}</td>
                                        <td>{{ actividad.0 }}</td>
                                        <td>{{ actividad.4 }}</td>
                                        <td>
                                            <form class="d-flex justify-content-between align-items-center">
                                                {% csrf_token %}
                                                <div>
                                                    <select name="sl_estado" class="form-select" disabled>
                                                        {% if actividad.5 == 'NO COMPLETADO' %}
                                                        <option value="NO COMPLETADO">NO COMPLETADO</option>
                                                        <option value="EN PROGRESO">EN PROGRESO</option>
                                                        <option value="{{ actividad.5 }}" selected>{{ actividad.5 }}</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/eventos.js' %}"></script>
</body>
</html>