.my-custom-scrollbar {
    position: relative;
    width: 1200px;
    height: 600px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.scrollbar {
    overflow-y: auto;
    width: 100%;
}

#table_rrhh {
    border-collapse: collapse;
}