{% load static %} 
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuentas por cobrar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="{% url 'inicio' %}" class="nav-link">Inicio</a>
            </li>
        </ul>
        {% if privilegio == 'ADM-IN1' %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'compras' %}">Entradas</a>
                    <a class="dropdown-item text-white" href="{% url 'ventas' %}">Ventas</a>
                    <a class="dropdown-item text-white" href="{% url 'otras_e_s' %}">Otras E/S</a>
                    <a class="dropdown-item text-white" href="{% url 'crear_sistema' %}">Generar sistemas</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                    <a class="dropdown-item text-white" href="{% url 'Auditoria' %}">Auditoria</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Recursos humanos
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'perfil_y_directorio' %}">Perfil de puesto - Directorio</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Indicadores
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'indicadores' %}">Registro de movimientos</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Usuarios
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'registro' %}">Registrar usuario</a>
                    <a class="dropdown-item text-white" href="{% url 'usuarios' %}">Usuarios</a>
                </div>
            </div>
        </ul>
        {% elif privilegio == 'JEFE' %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'compras' %}">Entradas</a>
                    <a class="dropdown-item text-white" href="{% url 'ventas' %}">Ventas</a>
                    <a class="dropdown-item text-white" href="{% url 'otras_e_s' %}">Otras E/S</a>
                    <a class="dropdown-item text-white" href="{% url 'crear_sistema' %}">Generar sistemas</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Recursos humanos
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'perfil_y_directorio' %}">Perfil de puesto - Directorio</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Indicadores
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'indicadores' %}">Registro de movimientos</a>
                </div>
            </div>
        </ul>
        {% else %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                </div>
            </div>
        </ul>
        {% endif %}
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <div class="container d-flex justify-content-center mt-3 col-lg-3">
        <form action="{% url 'agregar_clientes' %}" method="POST" class="card card-body">
            <h2 class="card-title text-center">Agregar cliente</h2>
            {% csrf_token %}
            <div>
                <label for="{{ form.Identificador.id_for_label }}" class="h5 mt-1">Identificador</label>
                {{ form.Identificador }}
            </div>
            <div>
                <label for="{{ form.cliente.id_for_label }}" class="h5 mt-1">Nombre</label>
                {{ form.cliente }}
            </div>
            <div>
                <label for="{{ form.direccion.id_for_label }}" class="h5 mt-1">Dirección</label>
                {{ form.direccion }}
            </div>
            <div>
                <label for="{{ form.telefono.id_for_label }}" class="h5 mt-1">Teléfono</label>
                {{ form.telefono }}
            </div>
            <div>
                <label for="{{ form.email.id_for_label }}" class="h5 mt-1">Email</label>
                {{ form.email }}
            </div>
            <input type="submit" class="btn btn-success form-control mt-2" value="Agregar">
        </form>
    </div>
    <div class="container d-flex justify-content-center mt-2">
        <div class="col-md-12">
            <form method="POST" id="form-c_p_c" class="card card-body justify-content-center">
                {% csrf_token %}
                <h1 class="card-title text-center">Generar venta</h1>
                <div class="d-flex justify-content-around mb-3">
                    <div class="text-center">
                        <label for="">Email</label>
                        <input type="text" name="email" class="form-control" value="{{ sesion }}" readonly="true">
                    </div>
                    <div class="text-center">
                        <label for="">Clientes</label>
                        <select name="sl_clientes" class="form-select">
                            <option selected disabled>--Seleccionar--</option>
                            {% for cliente in clientes %}
                                <option value="{{ cliente.id_cliente }}">{{ cliente.nombre_cliente }}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="text-center">
                        <label for="">Fecha</label>
                        <input type="date" name="fecha" class="form-control">
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3 mb-3">
                    <div class="text-center">
                        <label for="">Elegir sistema</label>
                        <select name="sl_sistemas" class="form-select">
                            <option defauñt selected disabled>--Seleccionar--</option>
                            {% for sistema in sistemas %}
                                <option value="{{ sistema.0 }} {{ sistema.4 }} {{ sistema.6 }}">{{ sistema.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="text-center">
                        <label>Precio</label>
                        <input type="number" name="precio" class="form-control" step="any" readonly>
                    </div>
                    <div class="text-center">
                        <label>Medida</label>
                        <input type="text" name="medida" class="form-control" readonly>
                    </div>
                </div>
                <div class="d-flex justify-content-around mt-3 mb-3">
                    <div class="text-center">
                        <label for="">Pozo</label>
                        <input type="text" name="pozo" class="form-control">
                    </div>
                    <div class="text-center">
                        <label for="">Total de servicios</label>
                        <input type="number" name="total_servicios" step="any" class="form-control">
                    </div>
                </div>
                <input type="submit" class="btn btn-dark mt-3" value="Registrar venta" id="btn_venta" target-ajax="{% url 'cuenta_por_cobrar' %}">
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/ventas.js' %}"></script>
</body>
</html>