{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigssmac</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/sigssmac.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="{% url 'inicio' %}" class="nav-link">Inicio</a>
            </li>
        </ul>
        {% if privilegio == 'ADM-IN1' %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'compras' %}">Entradas</a>
                    <a class="dropdown-item text-white" href="{% url 'ventas' %}">Ventas</a>
                    <a class="dropdown-item text-white" href="{% url 'otras_e_s' %}">Otras E/S</a>
                    <a class="dropdown-item text-white" href="{% url 'crear_sistema' %}">Generar sistemas</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                    <a class="dropdown-item text-white" href="{% url 'Auditoria' %}">Auditoria</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Recursos humanos
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'perfil_y_directorio' %}">Perfil de puesto - Directorio</a>
                    <a class="dropdown-item text-white" href="{% url 'eventos_tareas' %}">Eventos y tareas asignados</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Mantenimiento
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'mantenimiento' %}">Mantenimiento</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    SIGSSMAC
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'sigssmac_vista' %}">Registro de hallazgos</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Indicadores
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'indicadores' %}">Registro de movimientos</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Usuarios
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'registro' %}">Registrar usuario</a>
                    <a class="dropdown-item text-white" href="{% url 'usuarios' %}">Usuarios</a>
                </div>
            </div>
        </ul>
        {% elif privilegio == 'JEFE' %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'compras' %}">Entradas</a>
                    <a class="dropdown-item text-white" href="{% url 'ventas' %}">Ventas</a>
                    <a class="dropdown-item text-white" href="{% url 'otras_e_s' %}">Otras E/S</a>
                    <a class="dropdown-item text-white" href="{% url 'crear_sistema' %}">Generar sistemas</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Recursos humanos
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'perfil_y_directorio' %}">Perfil de puesto - Directorio</a>
                    <a class="dropdown-item text-white" href="{% url 'eventos_tareas' %}">Eventos y tareas asignados</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Mantenimiento
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'mantenimiento' %}">Mantenimiento</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    SIGSSMAC
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'sigssmac_vista' %}">Registro de hallazgos</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Indicadores
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'indicadores' %}">Registro de movimientos</a>
                </div>
            </div>
        </ul>
        {% else %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                </div>
            </div>
        </ul>
        {% endif %}
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="d-flex justify-content-center">
            <form class="card card-body" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="accidentabilidad" placeholder="Accidentabilidad" class="form-control">
                </div>
                <div class="input-group mt-3">
                    <input type="text" name="control_cambios" placeholder="Control de cambios" class="form-control">
                </div>
                <div class="input-group mt-3">
                    <textarea name="informacion" class="form-control" cols="30" rows="5" placeholder="Información documentada"></textarea>
                </div>
                <div class="input-group mt-3 mb-3">
                    <input type="file" accept="jpeg/png/jpg" name="hallazgos" class="form-control">
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <input type="submit" class="btn btn-success" id="enviar_sigssmac" ajax="{% url 'sigssmac_post' %}" value="Registrar">
                </div>
            </form>
        </div>


        <div class="card-image text-center display_img" id="display_i">
            <div class="alinear_elementos">
                <img src="" width="900" class="img_mostrar" id="img_mostrar">
            </div>
            <div style="margin-top: 20px;">
                <button type="button" class="close btn btn-danger">Cerrar</button>
            </div>
        </div>
        <div class=".my-custom-scrollbar .table-wrapper-scroll-y">
            <table id="table" class="table table-stripped">
                <thead>
                    <tr>
                        <td>Identificador</td>
                        <td>Accidentabilidad</td>
                        <td>Control de cambios</td>
                        <td>Información documentada</td>
                        <td>Hallazgos</td>
                    </tr>
                </thead>
                <tbody>
                    {% for info in detalles %}
                    <tr>
                        <td>{{ info.0 }}</td>
                        <td>{{ info.1 }}</td>
                        <td>{{ info.2 }}</td>
                        <td>{{ info.3 }}</td>
                        <td>
                            <button class="ver_img btn btn-info" src-img="media/img/sigssmac/{{ info.5 }}">Ver imagen</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/sigssmac.js' %}"></script>
</body>
</html>