{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="{% url 'inicio' %}" class="nav-link">Inicio</a>
            </li>
        </ul>
        {% if privilegio == 'ADM-IN1' %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'compras' %}">Entradas</a>
                    <a class="dropdown-item text-white" href="{% url 'ventas' %}">Ventas</a>
                    <a class="dropdown-item text-white" href="{% url 'otras_e_s' %}">Otras E/S</a>
                    <a class="dropdown-item text-white" href="{% url 'crear_sistema' %}">Generar sistemas</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                    <a class="dropdown-item text-white" href="{% url 'Auditoria' %}">Auditoria</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Recursos humanos
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'perfil_y_directorio' %}">Perfil de puesto - Directorio</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Indicadores
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'indicadores' %}">Registro de movimientos</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Usuarios
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'registro' %}">Registrar usuario</a>
                    <a class="dropdown-item text-white" href="{% url 'usuarios' %}">Usuarios</a>
                </div>
            </div>
        </ul>
        {% elif privilegio == 'JEFE' %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'compras' %}">Entradas</a>
                    <a class="dropdown-item text-white" href="{% url 'ventas' %}">Ventas</a>
                    <a class="dropdown-item text-white" href="{% url 'otras_e_s' %}">Otras E/S</a>
                    <a class="dropdown-item text-white" href="{% url 'crear_sistema' %}">Generar sistemas</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Recursos humanos
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'perfil_y_directorio' %}">Perfil de puesto - Directorio</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Indicadores
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'indicadores' %}">Registro de movimientos</a>
                </div>
            </div>
        </ul>
        {% else %}
        <ul class="navbar-nav me-auto">
            <div class="dropdown">
                <button class="nav-link dropdown-toggle btn" type="button" id="navbarDropdown" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                    Inventario
                </button>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" href="{% url 'Inventario_general' %}">Inventario general</a>
                    <a class="dropdown-item text-white" href="{% url 'movimientos' %}">Movimientos de inventario</a>
                </div>
            </div>
        </ul>
        {% endif %}
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <h1 class="text-center text-white">Bienvenido a McGreen</h1>
    {% if privilegio != 'EMPLEADO' %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card card-body col-lg-5">
            <form>
                {% csrf_token %}
                <div>
                    <div class="mt-2 mb-2">
                        <label>Fecha de entrega</label>
                        <input type="datetime" name="fecha_evento" placeholder="YYYY-MM-DD HH:MM:SS" class="form-control">
                    </div>
                    <label class="h2">Seleccionar opciones</label>
                    <div>
                        <input type="radio" name="opciones" class="form-check-input" id="persona_especifico" value="PERSONA EN ESPECIFICO">
                        <label for="persona_especifico">Por persona</label>
                    </div>
                    <div>
                        <input type="radio" name="opciones" class="form-check-input" id="todo_personal" value="TODO EL PERSONAL">
                        <label for="todo_personal">Todo el personal</label>
                    </div>
                </div>
                <div id="persona">
                        <button type="button" class="btn mt-3 mb-2 btn-danger" id="btn_cerrar_opc1">X</button>
                    <div class="mt-2 mb-2">
                        <label>Seleccionar usuarios</label>
                        <select name="sl_usuarios" class="form-select usuario mt-2">
                            <option selected disabled>--Seleccionar--</option>
                            {% for usuario in usuarios %}
                            <option value="{{ usuario.0 }}">{{ usuario.3 }} {{ usuario.4 }} {{ usuario.5 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mt-2 mb-2 d-flex justify-content-around align-items-center">
                    <div>
                        <label>Nombre de la tarea o evento</label>
                        <input type="text" name="evento_nombre" class="form-control">
                    </div>
                    <div>
                        <label>Prioridad de la tarea o evento</label>
                        <select name="sl_prioridades" class="form-select">
                            <option selected disabled>--Seleccionar--</option>
                            <option value="Baja">Baja</option>
                            <option value="Media">Media</option>
                            <option value="Alta">Alta</option>
                        </select>
                    </div>
                </div>
                <div class="mt-2 mb-2">
                    <label>Descripción de la tarea o evento</label>
                    <textarea name="descripcion_evento" class="form-control" cols="30" rows="5"></textarea>
                </div>
                <div class="d-flex justify-content-evenly align-items-center mt-2">
                    <input type="button" class="btn btn-info form-control" id="otro_usuario" value="Añadir otro usuario">

                    <input type="submit" class="btn btn-success form-control" id="enviar_evento" data-ajax="{% url 'crear_evento' %}" value="Enviar">
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    <div style="display: flex; justify-content: space-around;">
        <section style="width: 50%;">
            <h1 class="text-center text-white">Hoy</h1>
            <div id="personal">
                {% for evento in eventos %}
                {% now 'Y-m-d' as today %}
                    {% if today == evento.3|date:'Y-m-d' %}
                        <div class="alert alert-light">
                            <h3>{{ evento.1 }}</h3>
                            <p>{{ evento.2 }}</p>
                            <p>Fecha de entrega: {{ evento.3|naturalday }} {{ evento.3|date:'P' }}</p>
                            <p>Prioridad: {{ evento.4 }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <section>
            <h1 class="text-center text-white">Próximas</h1>
            <div  id="mensajes">
                {% for evento in eventos %}
                    {% now 'Y-m-d' as today %}
                    {% if evento.3|date:'Y-m-d' > today %}
                        <div class="alert alert-info">
                            <h3>{{ evento.1 }}</h3>
                            <p>{{ evento.2 }}</p>
                            <p>Fecha de entrega: {{ evento.3|naturalday }} {{ evento.3|date:'P' }}</p>
                            <p>Prioridad: {{ evento.4 }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/inicio.js' %}"></script>
</body>
</html>