{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.min.css' %}">
</head>
<body>
    <div class="contenedor">
        <form method="POST" class="form-usuario">
            {% csrf_token %}
            <h1>Iniciar sesión</h1>
            <div class="input-form">
                <label>Correo:</label>
                <input type="text" name="user" autocomplete="disabled" />
            </div>
            <div class="input-form">
                <label>Contraseña:</label>
                <input type="password" name="pass" autocomplete="disabled" />
            </div>
            <input type="submit" id="btn_Entrar" value="Entrar" class="btn-form">
        </form>
    </div>
    <footer class="text-center">
        <p> Derechos reservados <strong>Fluidos McGreen de México S.A de C.V</strong></p>
        <p>Fecha: {% now 'd \d\e F \d\e\l Y' %}</p>
    </footer>
</body>
</html>